<div class="devise-form-container">
  <h2 class="pb-3">Edit Account</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, 
                  required: true,
                  label: false,
                  placeholder: 'Email',
                  autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :description, as: :text,
                  label: false,
                  placeholder: 'Description' %>
      <%= f.input :current_password,
                  hint: 'We need your current password to confirm your changes',
                  required: true,
                  label: false,
                  placeholder: 'Current password' %>
      <%= f.input :password,
                  required: false,
                  label: false,
                  placeholder: 'New password' %>
      <%= f.input :password_confirmation,
                  hint: "Leave it blank if you don't want to change it",
                  required: false,
                  label: false,
                  placeholder: 'Confirm new password',
                  class: "mb-5 pb-5" %>
    </div>

    <div class="nav-btn-container mt-4">
      <%= link_to "Back", :back, class: "devise-btn-sign-up" %>
      <%= f.button :submit, 'Update', class: "devise-btn" %>
    </div>
  <% end %>

  <p class="pt-4 mb-0"><small>Unhappy? <%= link_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></small></p>
</div>