<h1>#<%= @chatroom.name %></h1>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">

  <% @chatroom.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>

</div>

<%= simple_form_for [ @crime, @chatroom, @message ] do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
  <%# raise %>
  <%= f.submit 'Message away' %>
<% end %>

<div class=>
  <%= link_to profile_path do %>
  <h2>Back to Dashboard</h2>
  <% end %>
</div>
