<div class="description-edit-form" style="display:none">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :description, as: :text %>
  <%= f.input :current_password,
              hint: "we need your current password to confirm your changes",
              required: true,
              input_html: { autocomplete: "current-password" } %>
  <%= f.button :submit, 'Save' %>
  <% end %>
</div>