<div class="crime-form-container">

  <div id="crime-form-1" style="display:show;">
    <%= simple_form_for @crime do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :location %>
    <div class="nav-btn-container">
      <%= link_to 'Back', profile_path, class: 'nav-text' %>
      <a href="#" class="crime-form-btn nav-text">Next</a>
    </div>
  </div>

  

  <div id="crime-form-2" style="display:none;">
      <%= f.input :date %>
      <%= f.input :reward %>
      <%= f.input :photo, as: :file %>
      <span>Do you agree with the <a href="#"><small>terms of service</small></a>?</span>
      <%= f.button :submit, 'I agree', class: 'nav-text very-light-ruby', id: 'agree-link' %></small>
      <% end %>
      <div class="nav-btn-container">
        <a href="#" class="crime-form-btn nav-text">Back</a>
        <a href="#" class="skillset-form-btn nav-text">Next</a>
      </div>
  </div>

  <div id="crime-form-skillset" style="display:none;">
      <p>Define the necessary skills for your crime.</p>
      <%= simple_form_for @skillset do |f| %>
      <%= f.input :close_combat, as: :range %>
      <%= f.input :long_range_weapons, as: :range %>
      <%= f.input :mid_range_weapons, as: :range %>
      <%= f.input :explosives, as: :range %>
      <%= f.input :infiltration, as: :range %>
      <%= f.input :hacking, as: :range %>
      <%= f.input :lockpicking, as: :range %>
      <%= f.input :seduction, as: :range %>
      <div class="nav-btn-container">
        <a href="#" class="skillset-form-btn nav-text">Back</a>
        <%= f.button :submit, 'Create Crime', class: 'nav-test submit-crime-skillset', id: 'create-crime' %>
        <% end %>
      </div>
  </div>

</div>
