<div class="hero-banner">
  <h1>The Mob Club</h1>
  <h2>click to enter</h2>
    <% if current_user.nil? %>
        <i id="logo" class="login-scroll fab fa-first-order"></i>
    <% else %>
      <%= link_to profile_path do %>
        <i id="logo" class="fab fa-first-order"></i>
       <% end %>
    <% end %>
    <i id="arrow-dwn" class="fas fa-angle-down"></i>
</div>




<div class="prp-value">
  <i class="fas fa-angle-up" id="page2TopArrow"></i>
  <div class="prp-container">
    <h1>1</h1>
    <h1>define <br> your skillset.</h1>
    <div class="prp-text">
      <p>Once you are in, you can let others know your worth. <br> From explosives expert to mastery in seduction - define your skills in your profile in an easy, convenient way.</p>
    </div>
  </div>
  <i class="fas fa-angle-down" id="page2BottomArrow"></i>
</div>

</div>
<div class="prp-value2">
  <i class="fas fa-angle-up" id="page3TopArrow"></i>
  <div class="prp-container2">
    <h1>2</h1>
    <h1>find the<br> perfect crime.</h1>
    <div class="prp-text2">
      <p>In our club, it’s easy to find the perfect match - all you have to do is browse through the latest, most evil plans ever conceived, and earning your coins is only a click away.</p>
    </div>
  </div>
  <i class="fas fa-angle-down" id="page3BottomArrow"></i>
</div>


</div>
<div class="prp-value3">
  <i class="fas fa-angle-up" id="page4TopArrow"></i>
  <div class="prp-container">
    <h1>3</h1>
    <h1>hire the best <br> mobsters.</h1>
    <div class="prp-text3">
      <p>Have a masterplan, that needs some expertise in opening bank vaults? Finding the right brains or muscle is now made easy - and discretion is the middle name of our Club.</p>
    </div>
  </div>
  <i class="fas fa-angle-down" id="page4BottomArrow"></i>
</div>

<div id="login-page">
  <%# <i class="fas fa-angle-up" id="page5TopArrow"></i> %>

  <div class='devise-form-container text-center'>
    <h2>Welcome<br>to the<br>Mob Club</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='devise-input-container'>
        <%= f.input :email,
                    label: false,
                    placeholder: 'Email',
                    required: false,
                    autofocus: false,
                    input_html: { autocomplete: "email", class: 'devise-input-field', class: 'color-light'} %>
        <%= f.input :password,
                    label: false,
                    placeholder: 'Password',
                    required: false,
                    input_html: { autocomplete: "current-password", class: 'devise-input-field', class: 'color-light' } %>
      </div>

      <div>
        <div class='password-position'>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          <% end %>
        </div>
        <div class='devise-button-container'>
          <%= f.button :submit, "Log in", class:'devise-btn' %>
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Create Account", new_registration_path(resource_name), class:'devise-btn-sign-up' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
