<%# id="description-add-btn %>
<div class="container" id="profile-container" style="display:show">
  <div class="row">

    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="profile-info">
        <div class="user-info">
          <div class="avatar-container">
            <img src="assets/profile-picture.jpg" alt="Profile picture" class="profile-avatar">
          </div>
          <p id="username"><%= current_user.username %></p>
            <div>
              <% if current_user.description.blank? || current_user.description.nil? %>
                <a href="#" class="description-btn">Add description <i class="fas fa-pencil-alt"></i></a>
                <%= render 'edit_description' %>
              <% else %>
                <p>"<%= current_user.description %>"</p>
              <% end %>
            </div>
        </div>
        <div class="links-container">

            <p><a href="#" id="dashboard-btn" class="color-gold">Dashboard</p>
            <hr class="trans--grow grow hr0">
            <p><%= link_to 'Edit profile', edit_user_registration_path, class: "color-gold" %></p>
            <hr class="trans--grow hr0 grow">
            <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "color-gold" %></p>

        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8">
      <% if current_user.skillset.nil? %>
        <div class="user-skillset-form" style="display:show">
          <%= render 'skillset-form' %>
        </div>
      <% else %>
        <div class="chart" style="display:show">
          <canvas id="userChart"></canvas>
        </div>
      <% end %>

      <div id="dashboard-main" style="display:none">
        <div id="nav" class="tabs">
          <a href="#jobs" class="tab active">Current jobs</a>
          <a href="#pending" class="tab">Pending requests</a>
          <a href="#event-manager" class="tab">Event manager</a>
          <button class="create-event" id="create-event-btn">Organize Crime</button>
        </div>

        <div id="jobs" class="toggle" style="display:show">
          <div class="dashboard">
            <% if @current_jobs.empty? %>
              <div class="empty-dash">
                <p class="op-9">You don't have any scheduled jobs.</p>
                <p><%= link_to 'Search Criminal Events', crimes_path %></p>
              </div>
            <% else %>
            <ul>
              <% @current_jobs.each do |job| %>

              <% unless job.crime.chatroom.id.nil? %>
              <%= link_to crime_chatroom_path(job.crime, job.crime.chatroom) do %>
                <p>go to chat</p>
              <% end %>
              <% end %>


                <%= link_to crime_path(job.crime) do %>
                  <li>
                    <h6><%= job.crime.title.upcase %></h6>
                    <p class="float-right"><small>
                      <% if (job.crime.date - Date.today).to_i == 0 %>
                        The event is <strong>today.</strong>
                      <% elsif (job.crime.date - Date.today).to_i < 0 %>
                        The event has passed.
                      <% else %>
                        In <%= (job.crime.date - Date.today).to_i %> days.
                      <% end %>
                    </small></p>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <% end %>
          </div>
        </div>

        <div id="pending" class="toggle" style="display:none">
          <div class="dashboard">
            <% if @pending_requests.empty? %>
              <div class="empty-dash">
                <p class="op-9">You don't have any pending requests.</p>
                <p><%= link_to 'Search Criminal Events', crimes_path %></p>
              </div>
            <% else %>
              <ul>
              <% @pending_requests.each do |job| %>
                <%= link_to crime_path(job.crime) do %>
                  <li>
                    <h6><%= job.crime.title.upcase %></h6>
                    <p class="float-right"><small>
                      <% if (job.crime.date - Date.today).to_i == 0 %>
                        The event is <strong>today.</strong>
                      <% elsif (job.crime.date - Date.today).to_i < 0 %>
                        The event has passed.
                      <% else %>
                        In <%= (job.crime.date - Date.today).to_i %> days.
                      <% end %>
                    </small></p>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <% end %>
          </div>
        </div>

        <div id="event-manager" class="toggle" style="display:none">
          <div class="dashboard">
            <ul>
              <% @crimes.to_a.each do |crime| %>

              <% if crime.chatroom.nil? %>

                      <%= simple_form_for [ crime, @chatroom ] do |f| %>
                      <%= f.hidden_field :name %>
                      <%= f.button :submit, 'Start chat' %>
                      <% end %>

                      <% else %>
                      <%= link_to crime_chatroom_path(crime.id, crime.chatroom) do %>
                        <p>Go to chat</p>
                      <% end %>
                    <% end %>

                <%= link_to crime_path(crime.id) do %>
                  <li>
                    <h6><%= crime.title.upcase %></h6>
                    <p class="float-right"><small>
                      <% if (crime.date - Date.today).to_i == 0 %>
                        The event is <strong>today.</strong>
                      <% elsif (crime.date - Date.today).to_i < 0 %>
                        The event has passed.
                      <% else %>
                        In <%= (crime.date - Date.today).to_i %> days.
                      <% end %>
                    </small></p>
                    <% if crime.right_hand.present? %>
                      <p class="pr-3">Right hand: <%= crime.right_hand.username %></p>
                    <% end %>

                  <!--   <%# if crime.chatroom.nil? %>
                      <%#= simple_form_for [ crime, @chatroom ] do |f| %>
                      <%#= f.hidden_field :name %>
                      <%#= f.button :submit, 'Create Chatroom' %>
                      <%# end %>
                      <%# else %>
                      <%#= link_to crime_chatroom_path(crime.id, crime.chatroom) do %>
                        <p>Go to chat</p>
                      <%# end %>
                    <%# end %> -->

                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
<!-- </div> uncommented because it's an extra div tag that doesnt belong anywhere  -->

<%# Create event pop up %>

<div id="create-event-page" style="display:none">
  <%= render 'form' %>
</div>

<%# End of create event pop up %>

<script>
  if(window.location.href.substr(-2) !== "?r") {
    window.location = window.location.href + "?r";
  }
</script>
