<div class="crime-form-container">
  <div id="crime-form-1" style="display:show;">
    <%= simple_form_for @crime do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :location %>
      <a href="#" class="crime-form-btn">Next</a>
  </div>
  <div id="crime-form-2" style="display:none;">
      <%= f.input :date %>
      <%= f.input :reward %>
      <a href="#" class="crime-form-btn">Back</a>
      <%= f.button :submit, 'Next' %>
      <% end %>
  </div>
  <div id="crime-form-skillset" style="display:none;">
      <%= simple_form_for @skillset do |f| %>
      <%= f.input :close_combat, as: :range %>
      <%= f.input :long_range_weapons, as: :range %>
      <%= f.input :mid_range_weapons, as: :range %>
      <%= f.input :explosives, as: :range %>
      <%= f.input :infiltration, as: :range %>
      <%= f.input :hacking, as: :range %>
      <%= f.input :lockpicking, as: :range %>
      <%= f.input :seduction, as: :range %>
      <a href="#" class="skillset-form-btn">Back</a>
      <%= f.button :submit, 'Create Crime' %>
      <% end %>
  </div>
</div>

