<h1>Crimes Index</h1>

<ul>
  <% @crimes.each do |crime| %>
    <%= link_to crime_path(crime) do  %>
    <li><%= crime.title %></li>
    <% end %>
    <li><%= crime.description %></li>
    <% how_many_days = crime.date - Date.today %>
    <li>Will happen in <%= how_many_days.to_i %> days</li>
    <li><%= crime.location %></li>
    <li><%= crime.reward %>$</li>
    <li>Skillset?<%#= crime.skillset %></li>
    <br>
  <% end %>
</ul>


