<div class="mob-club-headers">
  <h1>Crimes that might interest you</h1>
  <p><%= Crime.count %> misdeeds available</p>
</div>


<!-- Responsive is done - any changes on theses classes, ask first please -->

<div class="crime-index-container">
  <div class="row">
    <div class="search-position">

      <%= form_tag crimes_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "custom-search-bar",
          placeholder: "Find a crime"
        %>
        <%= submit_tag "Search", class: "btn btn-search" %>
      <% end %>

    </div>
  </div>

  <div class="row justify-content-center">

    <% @crimes.each do |crime| %>
      <% unless crime.boss == current_user || crime.right_hand == current_user %>
        <% how_many_days = crime.date - Date.today %>
        <div class="col-sm-offset-12 col-xl-offset-6">
          <%= link_to crime_path(crime) do  %>
          <% if how_many_days <= 0 %>
          <div class="crime-card-gone">
            <!-- remove this if statement if you wish to keep the cards all the same. -->
          <% else %>
          <div class="crime-card">
            <% end %>
            <div class="card-head">
              <h2><%= crime.title %></h2>
              <% if how_many_days < 30 && how_many_days > 0 %>
                <p><i class="fas fa-hourglass-end"></i> This misdeed must be executed soon.</p>
              <% end %>
              <% if how_many_days <= 0 %>
                <p><em>Time out - this crime has expired.</em></p>
              <% end %>

            <div class="card-details">
              <h3><i class="far fa-compass"></i> <%= crime.location %></h3>
              <% if how_many_days > 0 %>
                <h4>In <%= how_many_days.to_i %> days</h4>
              <% end %>
            </div>
            </div>
            <div class="card-reward">
              <p>reward</p>
              <h2><%= crime.reward %>$</h2>
            </div>
          </div>
          <% end %>
          <!-- <li>Skillset?<%#= crime.skillset %></li> -->
        </div>
      <% end %>
    <% end %>
  </div>
</div>

