<h1>Crimes that might interest you</h1>
<h2><%= Crime.count %> misdeeds available</h2>
<br>

<div class="crime-index-container">
  <div class="row">
    <div class="col-sm-12 col-lg-6">

    <% @crimes.each do |crime| %>
      <div class="crime-card">
        <div class="card-head">
          <%= link_to crime_path(crime) do  %>
          <h2><%= crime.title %></h2>
        <% end %>
        <div class="card-details">
          <h3><i class="far fa-compass"></i> <%= crime.location %></h3>
          <% how_many_days = crime.date - Date.today %>
          <h4>In <%= how_many_days.to_i %> days</h4>
        </div>
        </div>
        <div class="card-reward">
          <p>reward</p>
          <h2><%= crime.reward %>$</h2>
        </div>
      </div>
      <!-- <li>Skillset?<%#= crime.skillset %></li> -->
    <% end %>
    </div>
  </div>
</div>

