<h1><%= @crime.title %></h1>
<h2><%= @crime.date %></h2>
<p><%= @crime.location %></p>
<br>
<p><%= @crime.description %></p>

<% if !@crime.right_hand.nil? %>
<p><%= @crime.right_hand.username %></p>
<% end %>

<p><%= @crime.reward %>$</p>
<br>
<ul>
  <% @crime.skillset.attributes.each do |skill_name, skill_value| %>
    <% unless @attributes.include?(skill_name) %>
      <li><%= skill_name %>: <%= skill_value %></li>
    <% end %>
  <% end %>
</ul>

<%#= link_to 'Enter team', crime_teams_path(@crime, @team), method: :post %>
<div style="background-color: white">
<%= render "teams/new" %>
</div>
