<div class='container-fluid'>
  <div class='row'>
    <div class='details-container col-12 col-lg-8'>
      <div class='crime-details'>
        <div class='title-container'>
          <h2><%= @crime.title %></h2>
          <p class='card-reward'>Reward<br><%= @crime.reward %>$</p>
        </div>
        <% unless @crime.right_hand.nil? %>
          <p><%= @crime.right_hand.username %></p>
        <% end %>
        <div class='day-location-container'>
          <p>In <%= (@crime.date - Date.today).to_i %> days</p>
          <p><%= @crime.location %></p>
        </div>
        <p><%= @crime.description %></p>
      </div>
      <div class='actions-btn'>
        <%= render "teams/new", class:'devise-btn' %>
        <%= link_to 'Update event', edit_crime_path(@crime), class:'devise-btn' %>
        <%= link_to 'Cancel event', crime_path(@crime), method: :delete,
            data: { confirm: 'Are you sure, mate?'}, class:'cancel-button' %>
      </div>
    </div>

    <div class='actions-container col-12 col-lg-4'>
      <div class='plan-container'>
        An image will soon be there!
      </div>
      <% if @crime.skillset.nil? %>
        <p> You need to add a skillset to your crime!</p>
      <% else %>
        <div class='chart'>
          <canvas id="myCrimeChart"></canvas>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='d-none'>
  <% if current_user.id == @crime.boss_id || current_user.id ==@crime.right_hand_id %>
    <div class='members-container'>
      <div class='team-list'>
        <h2>Current squad</h2>
        <% @current_teams.each do |current_team| %>
          <% if current_team.status == true %>
            <p><%= current_team.user.username %></p>
          <% else %>
            <p>No one is in your team yet!</p>
          <% end %>
        <% end %>
      </div>
      <div class='team-list'>
        <h2>Pending requests</h2>
        <% @current_teams.each do |current_team| %>
          <% if current_team.status == false %>
            <div class='team-list-members'>
              <p><%= current_team.user.username %></p>
              <div class='btn-status-container'>
                <%= link_to crime_team_path(@crime, current_team), method: :patch do %>
                  <i class="far fa-check-square"></i>
                <% end %>
                <%#= link_to crime_team_path(@crime, current_team), method: :delete,
                    data: { confirm: "Are you sure you want to decline #{current_team.user.username}?"} do %>
                  <i class="far fa-window-close"></i>
                <%# end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%# This is used to pass the crime's id to the chart %>
<p id='paramsId' style="visibility: hidden;"><%= @crime.id %></p>



<!-- only bosses and right hands can see these two. Need to add logic for user -->
<!-- to see the current team only if current user id is part of the team -->
<%# if current_user.id == @crime.boss_id || current_user.id ==@crime.right_hand_id %>



































<!-- only bosses and right hands can see these two. Need to add logic for user -->
<!-- to see the current team only if current user id is part of the team -->
<div>
  
</div>

<%= link_to crimes_path do %>
 <div class="cancel-button"> Back </div>
<% end %>


<%#= link_to 'Enter team', crime_teams_path(@crime, @team), method: :post %>

